<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #app {
      display: flex;
      width: 400px;
      height: 400px;
    }
  </style>
</head>

<body>
  <div id="app">
    <form action="/">
      <label>用户名：</label><input type="text" v-model="user.name" /><br />
      <label>密码：</label><input type="text" v-model="user.pwd" />
    </form>

    <p>用户名:{{user.name}},密码:{{user.pwd}}</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        user: {
          name: "",
          pwd: ""
        }
      }
    })
  </script>
</body>

</html>